@use '../components/variables' as v;

.event{
    padding: 80px 0;
    

    &--ritual{
    background-image: linear-gradient(v.$red, v.$purple);
    }
    &--espera{
    background-image: linear-gradient(v.$purple, v.$blue);
    }
    &--entrada{
    background-image: linear-gradient(v.$blue, v.$green);
    }
    &--contagem{
    background-image: linear-gradient(v.$green, v.$blue);
    }

    &--image-left{
        .container{
            flex-direction: row-reverse;
        }
    }


    .container{
        display: flex;
        gap: 40px;
    }

    &__image{
        max-width: 360px;
    }

    &__details{
        
        &__title{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
            color: v.$textTitle;
        }

        &__description{
            line-height: 22px;
            color: v.$textColor;
        }
    }

    @media(max-width: 640px){
        
            .container{
                display: block;
                
            }
            &__image{
                width: 100%;
                
            }
                &__details{
                margin-right: 0;
                margin-bottom: 24px;
        
            
            }
        }
    }
