.event{
    padding: 80px 0;
    background-image: linear-gradient(180deg, #2d1b2f 0%, #1f1326 25%, #140d1a 50%, #0c0a12 75%, #050507 100%);


    .container{
        display: flex;
    }

    &__image{
        max-width: 360px;
    }

    &__details{
        margin-right: 40px;
        &__title{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
            color: #fff;
        }

        &__description{
            line-height: 22px;
            color: #f5f5f5;
        }
    }

    @media(max-width: 640px){
        
            .container{
                display: block;
                
            }
            &__image{
                width: 100%;
                
            }
                &__details{
                margin-right: 0;
                margin-bottom: 24px;
        
            
            }
        }
    }
