.footer {
    padding: 24px 0;
    text-align: center;

    background: linear-gradient(
        180deg,
        #080876,
        #510606,
    );

    &__text {
        font-size: 16px;
        line-height: 26px;
        color: #D8C08A; 
        margin-bottom: 16px;
    }

    &__copy {
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #bbbbbb;
    }

    @media (max-width: 640px) {
        padding: 32px 16px;

        &__text {
            font-size: 14px;
            line-height: 22px;
        }
    }
}
