@use '../components/variables' as v;

.infos-bar{
    padding: 16px 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    &__infos{
    display: flex;
    gap: 40px;


    &__item{
        font-size: 14px;
        color: black;

        b{
            font-size: 18;
            display: block;
            color:black;
        }
    }
}

@media (max-width: 640px){
    display: block;

    &__infos{
        display: block;

        &__item{
            margin-bottom: 24px;
        }
    }
}

@media (max-width: 1024px){
    &__infos{
        gap: 16px;
    }
}
}